{% extends 'core/base.html' %}

{% block title %} About me {% endblock %}

{% block image-header %} about {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Ronald Palacios</h1>
</div>
<div>
    <h3 class="fs-2">Web Development</h3>
</div>
{% endblock %}

{% block content %} 

{% load static %}

<div class="row d-flex">
    <div class="col-4 offset-md-auto">
        <img class="img-fluid img-thumbnail img-circle img-perfil " src={% static 'core/img/fotoperfil.png' %} alt="">
    </div>
    <div class="col-6">
        <h4>I'm Ronald Palacios. I am a Full Stack Web Developer and Cisco platforms 
            with extensive knowledge in back-end, developed through my own projects. 
            I seek to develop my career, to achieve the needs and preferences of clients.
        </h4>
    </div>
</div> 

<div class="row d-flex pt-5">
    <div class="col-12">
        <h2 class="fw-bold">Academic training</h2>
        {% for course in courses %}

        <h3>{{ course.title }}</h3>
        <p><strong>Título obtenido:</strong> {{ course.degree_title }}</p>
        <p><strong>Descripción:</strong> {{ course.description }} </p>

        <hr>
        {% endfor %}

        <br>

        <h2 class="fw-bold">Knowledge</h2>
        <section class="skills" id="skills">
            <div class="skills__container" id="skills">

                {% for skill in skills %}
                <div class="card__skills">
                    <div class="skill__thumbnail">
                        <img class="skill__logo" src={{ skill.image.url }} >
                    </div>

                    <div class="skill__texto">
                        <p class="skill__titulo">{{ skill.title }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </section>
    </div>
</div>

{% endblock %}

