{% extends 'core/base.html' %}

{% block title %} Contact {% endblock %}

{% block image-header %} contact {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Contacto</h1>
</div>
<div>
    <h3 class="fs-2">Asesoría personal</h3>
</div>
{% endblock %}

{% block content %} 

<form action="{% url 'contact' %}" method="post">
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="mb-3">
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" name="first_name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name" name="last_name" aria-label="Last name">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" style="margin-top: 15px;" name="contry" placeholder="Contry" aria-label="Contry">
                </div>
                <div class="col">
                  <input type="text" class="form-control" style="margin-top: 15px;" name="city" placeholder="City" aria-label="City">
                </div>
              </div>
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descripcion" placeholder="Descripcion"></textarea>
            <a href="#" class="btn btn-primary" style=" margin-top: 3px; ">Send</a>
          </div>
    </div>
</div>
</form>
{% endblock %}